.hoursGrid td
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.Cell07Style
{
    background-color: #86ABE5;
}

.Cell830Style
{
    background-color: #FFFFFF;
}

.Cell3160Style
{
    background-color: #FFFE9E;
}

.Cell60Style
{
    background-color: #FF9797;
}

