<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=AGH\AGH;Integrated Security=True;database=KPFF_09202011"/>
    <add key="ChartDimensionsWidth" value="1000"/>
    <add key="ChartDimensionsHeight" value="300"/>
  </appSettings>
  <connectionStrings>
    <remove name="KPFFSchedulingConnectionString"/>
    <add name="KPFFSchedulingConnectionString" connectionString="Data Source=AGH\AGH;Initial Catalog=KPFF_09202011;Integrated Security=True"/>
  </connectionStrings>
</configuration>